.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;

  justify-content: space-around;
  align-items: center;
  padding: 10px;
  z-index: 1000;
}
.header img {
  height: 50px;
}
.nav-links {
  display: flex;
  gap: 2em;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
}
.nav-links a.active,
.nav-links a:hover {
  color: #ffc800;
}
